.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  color: #33D4FF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input:focus {
  outline: none;
}

input:invalid {
  border: red solid 0.5px;
}

input:valid {
  border: #33D4FF solid 0.5px;
}

button {
  background-color: #33D4FF;
  border: #33D4FF;
  border-radius: 10%;
  padding: 3px;
  margin: 10px;
}

.app-form {
  width: 50%;
  padding: 1% 1% 10%;
  border: 2px solid black;
  border-radius: 2em;
  margin: auto;
}

.app-form h1 h2 h3 h4 h5 h6 {
  display: block;
}

.app-form label {
  font-weight: bold;
}

input {
  border-radius: 0.5em;
  display: block;
  margin: 1% auto;
  text-align: center;
  width: 10rem;
}

#app-form-submit-button {
  background-color: #33D4FF;
  border: #33D4FF;
  border-radius: 10%;
  padding: 3px;
  margin: 4% auto;
}

#app-form-submit-button:active {
  background-color: #04AADF;
  border: #04AADF;
  border-radius: 10%;
  padding: 3px;
  margin: 4% auto;
}

#app-form-submit-button:hover {
  border: solid 1px black;
  margin: 4% auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
